@import "bourbon"
@import "vars.sass"

.container
  width: 1366px
  margin: auto
.btn
  border-radius: 20px
  text-align: center
  border: solid 2px #ebf4f7
  padding: 0 25px
  display: inline-block
  height: 40px
  line-height: 36px
  font-family: 'Futura Lt BT'
  cursor: pointer
  text-decoration: none
  &.small
    padding: 0 15px
    height: 20px
    line-height: 18px  
body
  background-image: url(../img/bg/library.jpg)
  background-size: cover
  font-family: Futura
  overflow: hidden
a
  text-decoration: none
header
  padding: 29px 50px 
  .container
    display: flex 
    justify-content: space-between
    .breadcrumbs-box
      text-transform: uppercase
      padding: 0 12px
      margin-top: 10px
      .breadcrumbs
        display: flex
        a, span
          font-size: 13px
          font-weight: 900
          font-style: normal
          font-stretch: normal
          line-height: 0.43
          letter-spacing: 0.7px
          color: rgba(255, 255, 255, 0.5)
          text-shadow: 1px 1.9px 15px rgba(0, 0, 0, 0.15)
        a:after
          content: '\e911'
          padding: 0 5px
          font-family: icomoon
          font-weight: 200
        span
          color: #fff
    .heading-box
      text-align: center
      .title
        font-size: 30px
        font-weight: 900
        font-style: normal
        font-stretch: normal
        letter-spacing: 3px
        color: #ffffff
        text-shadow: 1px 3.9px 15px rgba(0, 0, 0, 0.15)      
      .subtitle
        text-transform: uppercase
        margin-top: 10px
        margin-bottom: 20px
        font-size: 14px
        font-weight: 500
        font-style: normal
        font-stretch: normal
        letter-spacing: 0.7px
        color: rgba(255, 255, 255, 0.5)
        text-shadow: 1px 1.9px 15px rgba(0, 0, 0, 0.15);
        + .title
          margin-top: -15px
          margin-bottom: 40px
      .icon-settings
        opacity: 0.5
        width: 18px
        height: 18px
        line-height: 18px
        background: #fff   
        display: inline-block 
      .folder
        img
          width: 60px
          height: 60px  
    .buttons-box
      .btn
        background-color: #cc6550
        border: solid 2px #e02a24
        color: #fff
        font-weight: 900
        letter-spacing: 1px
        font-size: 90%
      .history
        text-align: right
        color: #fff  
        font-size: 14px
        letter-spacing: 1.4px
        text-transform: uppercase
        margin-top: 22px
        line-height: 30px
        text-shadow: 1px 1.9px 15px rgba(0, 0, 0, 0.15);
        font-weight: 900
        opacity: 0.8
      i
        width: 10px
        height: 30px
        display: inline-block
        background: #fff
        float: right
        margin-left: 10px
.controls-box
  .container
    display: flex
    .icons-box
      width: 165px
      padding-right: 10px
      padding-top: 4px
      .icon
        font-weight: 900
        line-height: 1.43
        letter-spacing: 0.7px
        text-align: right
        color: #f2f5f6
        text-shadow: 0.5px 1.9px 4px rgba(0, 0, 0, 0.15)
        text-transform: uppercase
        font-size: 14px
        i 
          font-size: 12px
          opacity: .9
          line-height: 14px
          width: 14px
          height: 14px
          display: inline-block
          position: relative
          top: -2px
    .details-box
      background-color: #22424c
      box-shadow: inset 0.5px 1.9px 4px 0 rgba(0, 0, 0, 0.15)
      padding: 6px
      width: 100%
      &.empty
        display: flex
        .title
          font-size: 16px
          font-weight: 500
          letter-spacing: 0.4px
          color: rgba(235, 244, 247, 0.5)
          line-height: 30px
      .icon-plus
        color: #e18225
        line-height: 30px
        font-size: 15px
        margin: 0 15px
      .inner 
        background: #3482a0
        height: 36px
        line-height: 36px
        padding: 0 6px
        box-shadow: 0.5px 1.9px 4px 0 rgba(0, 0, 0, 0.15)
        letter-spacing: 0.4px
        color: #ffffff
        text-shadow: 0.5px 1.9px 4px rgba(0, 0, 0, 0.15)
        text-transform: lowercase
.timeline-box
  margin-top: 42px
  &.library-control
    .control
      position: absolute
      width: 98px
      height: 151px
      left: -109px
      top: 223px
      background: url(../img/controls/library-control.png) no-repeat
    .scroll
      width: 1200px!important  
    .container
      width: 1250px
  .triggered-grid
    display: flex
    margin-bottom: 30px
    .item
      background: #22424c
      margin-right: 20px
      width: 170px
      height: 170px
      padding: 2px
      &.item-addme
        background: #0e8385
        text-align: center
        font-family: 'Futura PT Book'
        font-size: 14px
        line-height: 1.29
        letter-spacing: 0.7px
        text-align: center
        color: #99d8d6
        text-transform: uppercase
        box-shadow: inset 0.5px 1.9px 4px 0 rgba(0, 0, 0, 0.3)
        cursor: pointer
        padding: 4px
        text-shadow: 0.5px 1.9px 4px rgba(0, 0, 0, 0.3)  
        .item-wrap
          height: 162px
        .item-wrap
          border: 1px solid #fff
        i
          width: 78px
          height: 78px
          border-radius: 39px
          border: 1px solid #99d8d6
          line-height: 78px
          display: block
          margin: 20px auto
          font-size: 35px
      .item-wrap
        border: 1px solid #d99041
        padding: 5px
        height: 166px
        position: relative
        .img
          width: 120px
          height: 60px
          background-color: #ccc0aa
          box-shadow: 0.5px 1.9px 4px 0 rgba(0, 0, 0, 0.3)
          overflow: hidden
          background-size: cover
        .num  
          width: 5px
          height: 14px
          font-family: 'Futura PT'
          font-size: 20px
          font-weight: 900
          text-align: center
          letter-spacing: 1px;
          color: #e6eaed 
          position: absolute
          top: 25px
          right: 20px
        .name
          font-family: 'Futura PT Book'
          font-size: 14px
          line-height: 1.29;
          letter-spacing: 0.7px
          color: #ffffff
          text-shadow: 0.5px 1.9px 4px rgba(0, 0, 0, 0.3)  
          padding-top: 5px
          padding-botom: 9px
        .info
          div
            font-family: 'Futura PT Book'
            font-size: 12px
            line-height: 1.7
            letter-spacing: 1.8px
            color: #fff
            span
              font-family: 'Futura PT Book'
              font-size: 12px
              line-height: 1.5
              letter-spacing: 1.8px
              text-align: left
              color: #60a6c2  
              text-transform: uppercase
              text-shadow: 0.5px 1.9px 4px rgba(0, 0, 0, 0.3)  
        .icons
          height: 20px
          line-height: 20px
          .notes
            font-family: 'Futura PT Book'
            font-size: 12px
            letter-spacing: 1.2px
            color: #ebf4f7
            text-shadow: 0.3px 1px 2px rgba(0, 0, 0, 0.3)      
            line-height: 20px

          
  .timeline-box-wrap
    width: 1250px
    margin: auto
    position: relative
    .title
      margin-left: 0
  .title
    font-size: 14px;
    font-weight: 900;
    letter-spacing: 2.1px
    line-height: 34px
    color: #f2f5f6
    text-shadow: 0.5px 1.9px 4px rgba(0, 0, 0, 0.15)
    text-transform: uppercase
    margin-left: 30px
  .container
    display: flex  
    align-items: center
    .volume
      display: flex
      align-items: center
      margin-left: auto
      .track 
        width: 50px
        height: 1px
        background: #e6eaed  
        margin: 0 7px
        position: relative
        i
          position: absolute
          width: 6px
          height: 6px
          background: #e6eaed  
          border-radius: 3px
          left: 20px
          top: -2px

      i
        color: #e6eaed  
        cursor: pointer
  .timeline
    padding-bottom: 10px
    background-color: #22424c
    box-shadow: inset 0.5px 1.9px 4px 0 rgba(0, 0, 0, 0.15) 
    position: absolute 
    width: 100%
    .time-grid
      display: flex
      height: 50px
      padding: 10px 20px
      div
        width: 70px
        height: 16px
        font-family: 'Futura PT Book'
        font-size: 12.1px
        font-weight: normal
        font-style: normal
        font-stretch: normal
        letter-spacing: 0.6px
        text-align: left
        color: #ccc0aa     
        padding: 0px 5px
        border-left: 2px solid rgba(255, 255, 255, .2) 
    .content-grid
      padding: 0 30px 0 20px
      .content-grid-inner
        display: flex
        padding-bottom: 20px
      .item
        position: relative
        height: 200px
        &.item-inline
          height: 80px
          margin-left: 10px
          &:first-child
            margin-left: 0
          .control-area
            height: 80px
            background: #37829f
            top: 0
            &.narrow
              .name
                margin-left: 10px
                padding-right: 10px
            .rect
              height: 80px
              width: 120px
            .name
              margin-left: 20px
              position: relative
              top: 0


        .control-area
          position: absolute
          top: 75px
          width: 100%
          z-index: 1
          background-color: #ebf4f7
          box-shadow: inset 0.5px 1.9px 4px 0 rgba(0, 0, 0, 0.15)
          height: 60px
          display: flex
          align-items: center
          i
            width: 8px
            height: 25px
            background: #fff
            display: inline-block
            position: absolute
            top: 5px
            right: 5px

          .note
            font-size: 20px
            font-weight: 500
            font-style: normal
            font-stretch: normal
            line-height: 0.3
            letter-spacing: 0.5px
            text-align: left
            color: #05354c
            line-height: 60px
            padding-left: 200px
          .btn-create
            margin-left: 20px
            background: #3890b3
            font-size: 16px
            font-weight: 900
            font-style: normal
            font-stretch: normal
            letter-spacing: 0.4px
            color: #fff
            border: 2px solid #3890b3 
        .image
          width: 150px
          height: 150px
          position: absolute
          z-index: 2
          left: 20px
          img
            width: 150px
            height: 150px
            display: inline-block
            border-radius: 75px
            background-color: #000000
            box-shadow: 0.5px 1.9px 4px 0 rgba(0, 0, 0, 0.15)
            border: solid 2px #000000
          .circle
            background: #22424c  
            width: 150px
            height: 150px
            border-radius: 75px
            border: solid 2px #ebf4f7
            box-shadow: inset 0.5px 1.9px 4px 0 rgba(0, 0, 0, 0.15)
            display: flex
            justify-content: center
            align-items: center
            .inner
              width: 78px
              height: 78px
              border-radius: 39px
              border: 2px solid #e18225
              display: block
              text-align: center
              box-shadow: inset 0.5px 1.9px 4px 0 rgba(0, 0, 0, 0.15)
              i
                font-size: 40px
                color: #e18225
                line-height: 78px
                text-shadow: 0.5px 1.9px 4px rgba(0, 0, 0, 0.15)

        .name
          position: absolute
          bottom: 20px
          font-weight: 500
          letter-spacing: 0.4px
          color: #ffffff
          text-shadow: 0.5px 1.9px 4px rgba(0, 0, 0, 0.15)
     
    .scroll
      background: #4e7181
      height: 8px
      padding: 2px
      border-radius: 4px
      position: relative
    .scroll-path
      position: absolute
      height: 4px
      border-radius: 2px
      background: #9baeb7
      box-shadow: 2.8px 10.6px 15px 0 rgba(0, 0, 0, 0.15)
      width: 400px
      left: 100px

